html,
body {
  margin: 0px;
  color: wheat;
  background-color: rgb(20, 125, 151);
}

.title {
  background-color: rgb(6, 65, 65);
  color: wheat;
  padding: 20px;
  font-size: 25px;
  text-align: center;
}

.cards {
  width: 150px;
  position: relative;
  left: 100px;
  margin-left: -75px;
}

#computer-cards,
#player-cards {
  height: 250px
}